.cart__items {
  list-style: none;
  margin: 0;
  padding: 0;
  max-height: 20rem;
  overflow: auto;
}

.cart__total {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  font-size: 1.5rem;
  margin: 1rem 0;
}

.cart__actions {
  text-align: right;
}

.cart__actions button {
  font: inherit;
  cursor: pointer;
  background-color: transparent;
  border: 1px solid #644a2a;
  padding: 0.5rem 2rem;
  border-radius: 25px;
  margin-left: 1rem;
}

.cart__actions button:hover,
.cart__actions button:active {
  background-color: #231c12;
  border-color: #231c12;
  color: white;
}

.cart__actions .button--alt {
  color: #644a2a;
}

.cart__actions .button {
  background-color: #644a2a;
  color: white;
}
